@import "../../config/_colors.scss";

.slogan {
  color: $primary;
  display: inline-block;
  font-size: 10vmin;
}

h1.gradient span {
  background: linear-gradient(0deg, $tertiary 40%, rgba(255, 0, 255, 0) 20%);
}

.primary {
  background-color: $primary;
}

.secondary {
  background-color: $secondary;
}

.tertiary {
  background-color: $tertiary;
}

.white {
  background-color: $white;
}

.center {
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.padding {
  padding: 1.5vmin;
}

.row {
  padding: 25px;
}

.vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.svg {
  width: 30vmin;
  height: 30vmin;
}

.content {
  padding-top: 10vmin;
  padding-bottom: 10vmin;
}

.padding-bottom-none {
  padding-bottom: 0 !important;
}
